body {
    font-family: 'Acme', sans-serif;
    background-color: #212529;
    padding-bottom: 5rem;
}


/* navbar css starts here  */

.bg-light {
    background-color: #343A40!important;
}

.navbar-brand {
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    color: #fcfdfd!important;
}

.nav-item {
    padding: 0 0.5rem;
}

.nav-link {
    color: #9ba1a8!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover {
    background-color: #424141;
}


/* navbar css ends here  */

.my-info {
    padding: 2rem 5rem;
    color: #DEE2E6;
}

.btn-info {
    background-color: rgb(78, 153, 223)!important;
    color: #fff!important;
    margin-left: 20px;
    margin-top: 3rem;
    padding: 0.7rem 2rem;
    transition: all 0.3s;
}

.btn-info:hover {
    background-color: rgb(67, 83, 230)!important;
}